@charset "UTF-8";
/*
    em HTML o que é id em CSS é # → só pode 1 elemento
    em HTML o que é class em CSS é . → vários elementos
*/
body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(2, 32, 32);

}
h1#principal {
    text-align: center;
    background-color: darkolivegreen;
    color: white;
}
.basico{
    color: rgb(177, 52, 52);
}
.intermediario{
    color: green;
}
.avancado{
    color: rgb(80, 80, 231);
}
h2{
    color:rgb(91, 255, 255);

}
.destaque{
    background-color: rgba(192, 192, 103, 0.589);
} 